spring:
  profiles:
    include: oauth
    active: local

  servlet:
    multipart:
      max-file-size: 10000KB
      max-request-size: 10000KB

  jpa:
    open-in-view: false
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        default_batch_fetch_size: 100
    defer-datasource-initialization: true

  sql.init.mode: always
